# Ignore OS files.
.DS_Store
data/__MACOSX

# Ingore artifacts
artifacts/*.joblib
artifacts/active
artifacts/*/

# Ignore pyton env and cache
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
rm